<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- linking a javascript file -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>

    <title>Dashboard</title>
</head>

<body>
    <div id="wrapper">
        <div id="navbar">
            <div id="navicon">
                <img src="./images/logo.png" alt="">
            </div>
            <h1>BabyJoy</h1>
            <input type="text" name="search" placeholder="Search for anything" class="search">
            <div id="rightside">
                <h3>Sign In</h3>
                <img onclick="alert('your Cart is empty')" src="./static/images/cart-dark.png" alt="cart">
            </div>
        </div>
        <div id="categories">
            <h3><a href="/babyfood">Baby Food</a></h3>
            <h3><a href="/snacks">Snacks</a></h3>
            <h3><a href="/formula">Formula</a></h3>
            <h3><a href="/organicfood">Organic Food</a></h3>

        </div>
        <div id="title">
            <h2></h2>
        </div>
        <div id="maininfo">
            <img src="./static/images/Baby_Foods.jpg" alt="food">

            <!-- <div class="info">
                <img src="./static/images/Baby_Foods.jpg" alt="food">
                <h2></h2>
                <div id="bluecard">
                    <h2></h2>
                </div>
            </div>
            <img class="mainpic" src="./" alt="t">
            <div class="info2">
                <img class="mainpic2" src="./" alt="">
                <div id="bluecard2">
                    <h3>Soothing aloe</h3>
                    <img class="picarrow" src="./" alt="arrow">
                </div>
            </div> -->
        </div>
        <h1>popular baby foods</h1>
        <div id="foods">
            <div class="popular">
                <a href="add"></a>
            </div>
            <div class="popular">

            </div>
            <div class="popular">

            </div>
            <div class="popular">

            </div>

        </div>
        <!-- <div class="plant">
                <img src="./images/assets/aeonium-s.jpg" alt="aloe">
                <h3>Aloe</h3>
            </div>
            <div class="plant">
                <img src="./images/assets/cactus-s.jpg" alt="cactus">
                <h3>Cactus</h3>
            </div>
            <div class="plant">
                <img src="./images/assets/echeveria-s.jpg" alt="echeveria-s">
                <h3>Echeveria</h3>
            </div>
            <div class="plant">
                <img src="./images/assets/sedum-s.jpg" alt="sedum-s">
                <h3>Sedum</h3>
            </div>
            <div class="plant">
                <img src="./images/assets/sempervivum-s.jpg" alt="sempervivum-s">
                <h3>Sempervivum</h3>
            </div>
        </div>
            <div id="Alertbox">
                <img class="alert" src="./images/assets/alert-dark.png" alt="alert">
                <h3>This site makes use of third-party cookies, by clicking "I accept" you agree to the terms outlined
                    in our <a href="#">cookie policy</a></h3>
                <button class="accept" onclick="myFunction()">I accept</button>
            </div> -->
    </div>
    <script src="script.js"></script>

</body>

</html>