<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- linking a javascript file -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>

    <title>Dashboard</title>
</head>

<body>
    <div id="wrapper">
        <div id="navbar">
            <div id="navicon">
                <img src="./images/logo.png" alt="">
            </div>
            <h1>BabyJoy</h1>
            <input type="text" name="search" placeholder="Search for anything" class="search">
            <div id="rightside">
                <h3>Sign In</h3>
                <img onclick="alert('your Cart is empty')" src="./static/images/cart-dark.png" alt="cart">
            </div>
        </div>
        <div id="categories">
            <h3><a href="/BabyFood">Baby Food</a></h3>
            <h3><a href="/Snacks">Snacks</a></h3>
            <h3><a href="/Formula">Formula</a></h3>
            <h3><a href="/OrganicFood">Organic Food</a></h3>
            
        </div>