<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- linking a javascript file -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
<!-- linking an image
<img src="{{ url_for('static', filename='img/img.png') }}"> -->


    <title>product</title>
</head>

<body>
    <div id="wrapper">
        <div id="navbar">
            <div id="navicon">
                <img src="{{ url_for('static', filename='images/icon.png') }}">
                <!-- <img src="./static/images/icon.png" alt="icon"> -->
            </div>
            <h1><a href="/dashboard">BabyJoy</h1></a>
            <input type="text" name="search" placeholder="Search for anything" class="search">
            <div id="rightside">
                <h3>Hi {{user.first_name}}!</h3>
                <a href="/logout" class="btn btn-dark btn-sm">Logout</a>
                <a href="/addtocart">
                <img  src="{{ url_for('static', filename='images/cart-dark.png') }}" alt="cart"></a>
            </div>
        </div>
        <div id="categories">
            <h3><a href="/babyfood">Baby Food</a></h3>
            <h3><a href="/snacks">Snacks</a></h3>
            <h3><a href="/formula">Formula</a></h3>
            <h3><a href="/organicfood">Organic Food</a></h3>
            </div>
            <br>
            <div id="card">
            <div class="productimage">
            <img src="{{product.image}}" alt="product image">  
            </div>

        <div class="productdetails">    
            <h2>{{product.name}}</h2>
            <p>{{product.salePrice}}</p>
            <a href="/addtocart/{{product.itemId}}"> <input type="submit" value="Add to Cart" class="btn btn-primary"></a>

            </div>
            </div>
            <br>
            <br>
<div class="description">
    <h4>Description: </h4>
<p>{{product.description}}</p>
</div>
<br>
<br>
<div class="feedback">
    <h5>We’d love to hear what you think!</h5>
    <input type="submit" value="Give Feedback" class="btn btn-primary">
</div>

    </div>
</body>
</html>


